*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-content {
     background-image: url('teste\ info.png'); /* Substitua 'background.jpg' pelo caminho da sua imagem */
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     
    }

.modal-header {
    border-bottom: none;
    text-align: left;
    margin-bottom: -10px;
}

.modal-footer {
    border: none;
}
.modal-title , .modal-body{
    color: white; 
     
}
/* TENTATIVA DE BORDA ABAIXO */
.caixa{
    position: relative;
    display: flex;  
}
.caixa::before, .caixa::after{
    content: '';
    position: absolute;
    z-index: -1;
    
    margin: -4px;
    border-radius: 8px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background: linear-gradient(45deg,  #ff009d, #0099ff, #001aff, #a200ff, #ff0055, #dd6ee7, 
     #ff009d, #0099ff, #001aff, #dd6ee7);
    background-size: 300%;
    animation: AnimarBorda 18s linear alternate infinite; 
}
@keyframes AnimarBorda {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 300%;
    }
}
.caixa::after{
    filter: blur(50px);
}
  /* TENTATIVA DE BORDA ACIMA */ 
.div-info > p{
    color: white;
    margin: 0px 16px;
    text-align: justify;
    line-height: 1.6em;
    text-indent: 27px;
    font-family: Arial,Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;

    
    letter-spacing: 1.1px;
  text-shadow: 2px 2px 4px rgba(5, 5, 5, 0.425);
/* 

  background-image: linear-gradient(to left, #ffffff, #00ff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; */

}

.icons:hover{
    transform: scale(1.2);
    
    transition: all 0.9s ease;
    background-color: #1d020250;

}


.icons{
    padding: 10px;
    font-size: 24px; 
    text-align: left; 
    border-radius: 7px;
}

.contato{
    color: white;
   margin-left: 20px;
}

  